/* 스크롤바 스타일링 */
.custom-scrollbar::-webkit-scrollbar {
  width: 7px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* indigo 700 색상 */
  border-radius: 10px; /* 스크롤바 트랙의 모서리 둥글게 */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgb(40, 40, 40, 0.3); /* indigo 600 색상 */
  border-radius: 10px; /* 스크롤바 엄지의 모서리 둥글게 */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgb(50, 50, 50, 0.3); /* 스크롤바 엄지의 호버 시 색상 */
}

/* 기본 스크롤바 스타일링 */
::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background: rgb(40, 40, 40); /* indigo 700 색상 */
}

::-webkit-scrollbar-thumb {
  background: rgb(80, 80, 80, 0.7); /* indigo 600 색상 */
  border-radius: 10px; /* 스크롤바 엄지의 모서리 둥글게 */
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(90, 90, 90, 0.7); /* 스크롤바 엄지의 호버 시 색상 */
}

.toggle-checkbox {
  appearance: none;
  width: 40px;
  height: 20px;
  background-color: #ddd;
  border-radius: 20px;
  position: relative;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle-checkbox:checked {
  background-color: #4ade80;
}

.toggle-checkbox:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s;
}

.toggle-checkbox:checked:before {
  transform: translateX(20px);
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.spinner {
  animation: spin 1s linear infinite;
}
